body {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.center {
  margin: 5px auto 90px;
  text-align: center;
}

.title {
  font-size: 90px;
  padding: 40px;
  color: #a01a1f;
}

canvas {
  background-color: #86888a;
  border: 2px;
  border-color: black;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transition: -ms-transform 1s;
  -webkit-transition: -o-transform 1s;
  -webkit-transition: -moz-transform 1s;
  -webkit-transition: transform 1s;
  /*box-shadow: 20px 20px 50px #1c1c1c;*/
}

canvas:hover {
  width: 51px;
  height: 49px;
}